<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yusaistic - Restaurant Apps Starter Project</title>
    <meta name="theme-color" content="#db7137"/>
    <link rel="apple-touch-icon" href="/images/icons/72.png">
    <link rel="shortcut icon" type="image/jpg" href="./images/favicon/favicon.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <!-- Skip to Content -->
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="logo">
                    <img src="./images/logo/Yusaistic.png" alt="Logo Yusaistic">
                </div>
                <!-- Navigasi -->
                <nav class="nav">
                    <button type="submit" id="hamburger"><img src="./images/icons/menu.png" alt="hamburger-icon"></button>
                    <ul class="nav__list">
                        <li><a href="#/daftar-restaurant">Home</a></li>
                        <li><a href="#/like">Favorite</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/yusa_dmwan/">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Mobile Menu -->
    <div id="mobile__menu">
        <button type="submit" class="close" id="close"><img src="./images/icons/cancel.png" alt="close-icon" width="100%"></button>
        <ul>
            <li><a href="#/daftar-restaurant">Home</a></li>
            <li><a href="#/like">Favorite</a></li>
            <li><a target="_blank" href="https://www.instagram.com/yusa_dmwan/">About</a></li>
        </ul>
    </div>
    <!-- Hero -->
    <div class="hero">
        <div class="container">
            <div class="hero__inner">
                <div class="hero__text">
                    <h1 class="hero__title">Jelajahi Restaurant Yang Anda Sukai</h1>
                    <p class="hero__tagline">Jelajahi berbagai macam restaurant terbaik yang telah kami <br>siapkan untuk anda dengan menyesuaikan baudget anda</p>
                     <a href="#content"><button class="beli" type="submit">COBA SEKARANG</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="container">
                <div class="content__inner">
                    <h2>Explore Restaurant</h2>
                    <p>Jelajahi resturant yang ingin anda kunjungi dengan cepat</p>
                    <div class="box__content" id="box__content">
                        <!-- Data list -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>CopyRight &copy;2021 - Yusaistic by Yusa</div>
    </footer>
</body>
</html>